@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --pomodoro-color: #d04643;
    --break-color: #36a36a;
    --light-100: #f8f8f8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: var(--light-100);
    transition: all 0.35s ease-in-out;
}

body {
    overflow: hidden;
}

main {
    display: grid;
    place-content: center;
    height: 100dvh;
}